version: '3.9'

services:
  web:
    build: .
    container_name: php-web
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: infoPhp-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "infoPhpRootPass"
      MYSQL_DATABASE: infoPhp
      MYSQL_PASSWORD: "infoPhpPassword"
      MYSQL_USER: infoPhp

    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: "infoPhpRootPass"
      UPLOAD_LIMIT: 300M
    depends_on:
      - db
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge